@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
.gradient-text {
    /* background: linear-gradient(to right, #f97316, #f9bc05); */
    background: linear-gradient(to right, #e30000, #c53030);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }